
@{
    ViewBag.Title = "Daily Collection Report";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header card-gray">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-4 text-center">
                            <h4><b>Daily Collection Report</b></h4>
                        </div>
                        <div class="col-md-4">
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("DailyCollectionReport", "Shomobay", FormMethod.Get, new { @target = "_blank" }))
                {
                    <form method="get">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtMemberCode" class="control-label font-weight-bold">Member Code</label>
                                        <input type="text" name="mCode" value="" id="txtMemberCode" placeholder="Search By Code" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtLoanCode" class="control-label font-weight-bold">Loan Code</label>
                                        <input type="text" name="lCode" value="" id="txtLoanCode" placeholder="Search By Loan" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtMemberName" class="control-label font-weight-bold">Member Name</label>
                                        <input type="text" name="mName" value="" id="txtMemberName" placeholder="Search By Name" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="txtMemberMobile" class="control-label font-weight-bold">Member Mobile</label>
                                        <input type="text" name="mMobile" value="" id="txtMemberMobile" placeholder="Search By Mobile" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="dptFromDate" class="control-label font-weight-bold">From Date</label>
                                        <input type="date" name="fromDate" value="" id="dptFromDate"  class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label for="dptToDate" class="control-label font-weight-bold">To Date</label>
                                        <input type="date" name="toDate" value="" id="dptToDate" class="form-control form-control-sm search-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group col-md-12">
                                        <label class="control-label font-weight-bold" for="rptType">Type</label>
                                        <select name="rptType" id="rptType" class="form-control form-control-sm">
                                            <option value="PDF">PDF</option>
                                            <option value="EXCEL">EXCEL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group col-md-12">
                                        <label class="control-label font-weight-bold" for="Download" style="visibility:hidden">Download</label>
                                        <button type="submit" title="Download Loan Report" class="btn btn-sm btn-outline-danger"><i class="fas fa-file-pdf"> </i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 text-sm" id="dataContainer">
        @{Html.RenderAction("DailyCollectionReportList", new { flag = "view" });}
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var txtLoanCode = $("#txtLoanCode");
        var txtMemberCode = $("#txtMemberCode");
        var txtMemberName = $("#txtMemberName");
        var txtMemberMobile = $("#txtMemberMobile");
        var dptFromDate = $("#dptFromDate");
        var dptToDate = $("#dptToDate");

        //document.getElementById('dptFromDate').valueAsDate = new Date();
        //document.getElementById('dptToDate').valueAsDate = new Date();

        txtLoanCode.keyup(function () {
            LoadDataTable();
        });
        txtMemberCode.keyup(function () {
            LoadDataTable();
        });
        txtMemberName.keyup(function () {
            LoadDataTable();
        });
        txtMemberMobile.keyup(function () {
            LoadDataTable();
        });
        dptFromDate.change(function () {
            LoadDataTable();
        })
        dptToDate.change(function () {
            LoadDataTable();
        })
        function LoadDataTable() {
            var data = { flag: "search", lCode: txtLoanCode.val().trim(), mCode: txtMemberCode.val().trim(), mName: txtMemberName.val().trim(), mMobile: txtMemberMobile.val().trim(), fromDate: dptFromDate.val(), toDate: dptToDate.val() };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/Shomobay/DailyCollectionReportList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    </script>
    }

