
@{
    ViewBag.Title = "Loan Adjustment";
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="card card-gray shadow">
            <div class="card-header card-gray">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-6 text-center">
                            <h4><b>Loan Adjustment From Savings</b></h4>
                        </div>
                        <div class="col-md-3">
                            <a href="/Shomobay/CreateLoanAdjustment" class="btn btn-outline-primary btn-sm float-lg-right" id="btnAddNew"><i class="fa fa-plus"></i> Adjustment</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group col-md-12">
                        <label for="txtMemberCode" class="control-label font-weight-bold">Member Code</label>
                        <input type="text" name="MemberCode" value="" id="txtMemberCode" placeholder="Search By Code" class="form-control form-control-sm search-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group col-md-12">
                        <label for="txtLoanCode" class="control-label font-weight-bold">Loan Code</label>
                        <input type="text" name="LoanCode" value="" id="txtLoanCode" placeholder="Search By Loan" class="form-control form-control-sm search-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group col-md-12">
                        <label for="txtMemberName" class="control-label font-weight-bold">Member Name</label>
                        <input type="text" name="MemberName" value="" id="txtMemberName" placeholder="Search By Name" class="form-control form-control-sm search-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group col-md-12">
                        <label for="txtMemberMobile" class="control-label font-weight-bold">Member Mobile</label>
                        <input type="text" name="MemberName" value="" id="txtMemberMobile" placeholder="Search By Member" class="form-control form-control-sm search-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-sm" id="dataContainer">
        @{Html.RenderAction("LoanAdjustmentList", new { flag = "view" });}
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var txtLoanCode = $("#txtLoanCode");
        var txtMemberCode = $("#txtMemberCode");
        var txtMemberName = $("#txtMemberName");
        var txtMemberMobile = $("#txtMemberMobile");

        txtLoanCode.keyup(function () {
            LoadDataTable();
        });
        txtMemberCode.keyup(function () {
            LoadDataTable();
        });
        txtMemberName.keyup(function () {
            LoadDataTable();
        });
        txtMemberMobile.keyup(function () {
            LoadDataTable();
        });
        function LoadDataTable() {
            var data = { flag: "search", lCode: txtLoanCode.val().trim(), mCode: txtMemberCode.val().trim(), mName: txtMemberName.val().trim(), mMobile: txtMemberMobile.val().trim() };

            console.log(data);
            $.when(getReqWithData('html', 'GET', '/Shomobay/LoanAdjustmentList', data)).then(function (res, status) {
                console.log(status);
                if (status === "success") {
                    $("#dataContainer").fadeOut('500', function () {
                        $("#dataContainer").empty();
                        $("#dataContainer").append(res).fadeIn('500');
                    });
                }
            }).fail(function (error) {
                console.log(error);
            })
        }
    </script>
}
